@model User
@{
    ViewData["Title"] = "Home Page";
}
<div class="index-page-content">
    <div class="dropdown nav-item" style="float:right;margin-right:-200px;">
        @{
            if (!string.IsNullOrWhiteSpace(Model.FirstName))
            {
                <h4 class="username-content">
                    Привет, @Model.FirstName
                </h4>
            }
        }
    </div>
    <div class="main-section">
        <section class="main">
            <div class="greeding-box">
                <p>Изучение математики онлайн</p>
                <img src="~/img/CoolClips_vc011122.png" alt="">
            </div>
            <div class="info-box">
                <p>
                    Здравствуйте!

                    Если Вас интересует математика или у Вас возникли сложности с решением математических задач, то Вы зашли по правильному адресу. Your Online Calculator создан для помощи школьникам, студентам и всем желающим изучать математику.

                    Разделы сайта позволят Вам найти необходимый материал.
                </p>
            </div>
            <div class="info-box">
                <img src="~/img/calculator.png" alt="">
                <p>
                    Онлайн калькуляторы - в этом разделе
                    собраны написанные мною программы
                    для решения примеров и задач по
                    математике, алгебре, геометрии,
                    теории вероятности, высшей математике
                    и другим математическим дисциплинам.
                    Для работы Вам необходимо лишь
                    выбрать подходящий калькулятор и
                    ввести данные, программа сама
                    мгновенно найдет ответ и выдаст
                    детально расписанное пошаговое
                    решение вашей задачи. Это дает возможность не только получить результат, но и научиться решать математические задачи, найти и исправить ошибки в своем решении или проверить правильность своего решения.
                </p>
            </div>
        </section>
    </div>
</div>