@{
    ViewData["Title"] = "Home Page";
}


<section class="main-content">
    <div class="matrix-op-container">
        <div class="containter-header">
            <h2>Онлайн калькуляторы с матрицами</h2>
        </div>
        <div class="matrix-img">
            <img src="https://ru.onlinemschool.com/pictures/calk/matrix.png" alt="">
        </div>
        <div class="sum-sub-ops operations">
            <a href="~/Home/SumSubOperationsPage">
                <p>Сложение и вычитание матриц</p>
            </a>

        </div>
        <div class="prod-div-ops operations">
            <a href="">
                <p>Произведение и часное матриц</p>
            </a>
        </div>
        <div class="det-ops operations">
            <a href="">
                <p>Определитель матрицы</p>
            </a>
        </div>
        <div class="rank-ops operations">
            <a href="">
                <p>Ранг матрицы</p>
            </a>
        </div>
        <div class="riverse-ops operations">
            <a href="">
                <p>Обратная матрица</p>
            </a>
        </div>
        <div class="transp-ops operations">
            <a href="">
                <p>Транспонированая матрица</p>
            </a>
        </div>
        <div class="power-ops operations">
            <a href="">
                <p>Возведение матрицы в степень</p>
            </a>
        </div>
    </div>
</section>